*  DSC 530 Data Exploration and Analysis
*  Weeks 1 & 2 Coding Assignment
*  Adam Luna

# Chapter 3, Exercise 1

We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file (obtained using the stock_analysis package we will build in Chapter 7, Financial Analysis – Bitcoin and the Stock Market). Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:

- Read in the aapl.csv, amzn.csv, fb.csv, goog.csv, and nflx.csv files.
- Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example); this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.
- Append them together into a single dataframe.
- Save the result in a CSV file called faang.csv

### Reading the stock data

In this step, I load the stock price data for each FAANG company from separate CSV files.
Each dataset is read into its own dataframe so it can be processed individually before being combined.
Because the CSV files are stored in a subdirectory, I specify the appropriate relative file paths
when reading the data.

In [13]:
import pandas as pd

# Read in stock data for each FAANG company
aapl = pd.read_csv("exercises/aapl.csv")
amzn = pd.read_csv("exercises/amzn.csv")
fb   = pd.read_csv("exercises/fb.csv")
goog = pd.read_csv("exercises/goog.csv")
nflx = pd.read_csv("exercises/nflx.csv")

# Verify that each dataset loaded successfully by checking row counts
{
    "AAPL_rows": len(aapl),
    "AMZN_rows": len(amzn),
    "FB_rows": len(fb),
    "GOOG_rows": len(goog),
    "NFLX_rows": len(nflx)
}

{'AAPL_rows': 251,
 'AMZN_rows': 251,
 'FB_rows': 251,
 'GOOG_rows': 251,
 'NFLX_rows': 251}

### Adding ticker identifiers

To ensure that each observation can be traced back to its corresponding company after combining
the datasets, I add a `ticker` column to each dataframe using the stock’s ticker symbol.

In [14]:
# Add a ticker column to identify each stock after combining datasets
aapl["ticker"] = "AAPL"
amzn["ticker"] = "AMZN"
fb["ticker"]   = "FB"
goog["ticker"] = "GOOG"
nflx["ticker"] = "NFLX"

# Confirm that the ticker column was added correctly
aapl.head()

         date       high        low       open      close       volume ticker
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0   AAPL
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0   AAPL
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0   AAPL
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0   AAPL
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0   AAPL

### Combining the datasets

After adding the ticker identifiers, I append all five datasets into a single dataframe.
This unified dataset allows for easier analysis and comparison across FAANG stocks.

In [15]:
# Append all five stock datasets into a single FAANG dataframe
faang = pd.concat([aapl, amzn, fb, goog, nflx], ignore_index=True)

# Inspect the combined dataset to ensure all tickers are present
faang["ticker"].value_counts().sort_index()

ticker
AAPL    251
AMZN    251
FB      251
GOOG    251
NFLX    251
Name: count, dtype: int64

### Saving the combined dataset

I save the combined FAANG dataset as a CSV file so it can be reused in subsequent exercises
without repeating the data preparation steps.

In [16]:
# Save the combined FAANG dataset to a CSV file
faang.to_csv("faang.csv", index=False)

# Validate that the output file was successfully created
import os
os.path.exists("faang.csv")

True

# Chapter 3, Exercise 2

With faang, use type conversion to cast the values of the date column into datetimes and the volume column into integers. Then, sort by date and ticker.

### Converting data types and sorting the dataset

In this step, I convert the `date` column to a datetime type and the `volume` column to integers.
After performing these type conversions, I sort the FAANG dataset by date and ticker to ensure
the data is in a consistent and logical order for analysis.

In [17]:
# Convert the date column to datetime format
faang["date"] = pd.to_datetime(faang["date"])

# Convert the volume column to integer type
faang["volume"] = faang["volume"].astype(int)

# Sort the dataset by date and ticker
faang = faang.sort_values(by=["date", "ticker"])

# Verify data types and sorting
faang.dtypes

date      datetime64[ns]
high             float64
low              float64
open             float64
close            float64
volume             int64
ticker            object
dtype: object

# Chapter 3, Exercise 3

Find the seven rows in faang with the lowest value for volume.

### Identifying the lowest trading volumes

In this step, I identify the seven observations in the FAANG dataset with the lowest trading
volume. This helps highlight periods where trading activity was minimal across the stocks.

In [18]:
# Sort the dataset by volume in ascending order
lowest_volume = faang.sort_values(by="volume").head(7)

# Display the seven rows with the lowest trading volume
lowest_volume

,date,high,low,open,close,volume,ticker
879,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
979,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
852,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
883,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
905,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
912,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
914,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG

# Chapter 3, Exercise 4

Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format. Hint: date and ticker are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [19]:
# Reshape the dataset to long format using date and ticker as ID variables
faang_long = faang.melt(
    id_vars=["date", "ticker"],
    var_name="metric",
    value_name="value"
)

# Display the first few rows of the long-format dataset
faang_long.head()

        date ticker metric        value
0 2018-01-02   AAPL   high    43.075001
1 2018-01-02   AMZN   high  1190.000000
2 2018-01-02     FB   high   181.580002
3 2018-01-02   GOOG   high  1066.939941
4 2018-01-02   NFLX   high   201.649994

# Chapter 3, Exercise 5

Suppose we found out that on July 26, 2018 there was a glitch in how the data was recorded. How should we handle this? Note that there is no coding required for this exercise.

### Handling a data recording glitch

If a glitch was discovered in the data recorded on July 26, 2018, the first step would be to
recognize that the affected observations may not be reliable. Depending on how widespread or
severe the issue appears to be, there are a few reasonable ways to handle the situation.

One possible approach would be to remove the affected rows so that incorrect values do not
influence the analysis. Another option could be to correct or impute the affected values if
there is enough information available to do so in a reasonable way.

Overall, the most important consideration is to make sure that the data handling decision is
clearly documented. Doing so helps ensure that the results can be interpreted appropriately
and that any limitations caused by the data issue are understood.

# Chapter 3, Exercise 6

The European Centre for Disease Prevention and Control (ECDC) provides an open dataset on COVID-19 cases called daily number of new reported cases of COVID-19 by country worldwide. This dataset is updated daily, but we will use a snapshot that contains data from January 1, 2020 through September 18, 2020. Clean and pivot the data so that it is in wide format:

- Read in the covid19_cases.csv file.
- Create a date column using the data in the dateRep column and the pd.to_datetime() function.
- Set the date column as the index and sort the index.
- Replace all occurrences of United_States_of_America and United_Kingdom with USA and UK, respectively. Hint: the replace() method can be run on the dataframe as a whole.
- Using the countriesAndTerritories column, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.
- Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the case counts (the cases column). Be sure to fill in NaN values with 0.

### Reading the COVID-19 cases dataset

In this step, I load the COVID-19 cases dataset provided by the European Centre for Disease
Prevention and Control. This dataset contains daily reported case counts by country over time
and will be cleaned and reshaped for analysis.

In [20]:
import pandas as pd

# Read in the COVID-19 cases dataset
covid = pd.read_csv("exercises/covid19_cases.csv")

# Display the first few rows to confirm the data loaded correctly
covid.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
1,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
3,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
4,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN

### Creating and sorting the date column

The dataset includes date information in the `dateRep` column. In this step, I convert that
column to a datetime format, create a new `date` column, and then sort the data chronologically
to make time-based analysis easier. Because the dates are recorded in day/month/year format,
I account for this when parsing the dates.

In [21]:
# Create a date column from the dateRep column (day/month/year format)
covid["date"] = pd.to_datetime(covid["dateRep"], dayfirst=True)

# Set the date column as the index
covid = covid.set_index("date")

# Sort the dataset by the date index
covid = covid.sort_index()

covid.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-01-01,01/01/2020,1,1,2020,0,0,Lithuania,LT,LTU,2794184.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Iceland,IS,ISL,356991.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Nepal,NP,NPL,28608715.0,Asia,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,San_Marino,SM,SMR,34453.0,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Canada,CA,CAN,37411038.0,America,NaN

### Cleaning country names

Some country names in the dataset are written in a longer format. To improve readability,
I replace occurrences of `United_States_of_America` and `United_Kingdom` with the shorter
labels `USA` and `UK`.

In [22]:
# Replace long country names with shorter labels
covid = covid.replace({
    "United_States_of_America": "USA",
    "United_Kingdom": "UK"
})

### Filtering the dataset to selected countries

For this analysis, I focus on a subset of countries that represent different regions of the
world. I filter the dataset so that it includes only the specified countries before reshaping
the data.

In [23]:
# List of countries to keep
countries = [
    "Argentina", "Brazil", "China", "Colombia", "India", "Italy",
    "Mexico", "Peru", "Russia", "Spain", "Turkey", "UK", "USA"
]

# Filter the dataset to the selected countries
covid_filtered = covid[covid["countriesAndTerritories"].isin(countries)]

covid_filtered["countriesAndTerritories"].value_counts()

countriesAndTerritories
China        262
USA          262
Spain        262
Italy        262
Brazil       262
Russia       262
UK           262
India        261
Mexico       254
Argentina    196
Peru         195
Colombia     192
Turkey       189
Name: count, dtype: int64

### Pivoting the data to wide format

In this step, I reshape the dataset so that each row represents a date and each column represents
a country. The values in the table correspond to the daily number of reported COVID-19 cases.
Any missing values are filled with zero to indicate no reported cases on that date.

In [24]:
# Pivot the dataset to wide format
covid_wide = covid_filtered.pivot(
    columns="countriesAndTerritories",
    values="cases"
)

# Replace missing values with zero
covid_wide = covid_wide.fillna(0)

covid_wide.head()

countriesAndTerritories,Argentina,Brazil,China,Colombia,India,Italy,Mexico,Peru,Russia,Spain,Turkey,UK,USA
date,,,,,,,,,,,,,
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-03,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-05,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0